<div id="comments-section">
    <h3 class="title"> Add a Comment </h3>
  <%= form_with(model: comment, id: dom_id(comment)) do |form| %>
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  <% end %>
</div>

<%= turbo_stream_from "comments" %>
<%= turbo_frame_tag "comments" do %>
  <%= render @ticket.comments %>
<% end %>
