<tr>
  <td>
    <div class="user-info">
      <div class="user-info__basic">
        <h5 class="mb-0"><%= user.first_name %> <%= user.last_name %></h5>
      </div>
    </div>
  </td>
  <td>
    <h6 class="mb-0"><%= user.role.name %></h6>
  </td>
  <td>
    <h6 class="mb-0"><%= user.email %></h6>
  </td>
  <td>
    <div class="dropdown open">
      <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="triggerId1" x-placement="top-start" style="position: absolute; transform: translate3d(31px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
        <%= link_to edit_user_path(user), class: 'dropdown-item' do %>
          <i class="fas fa-pencil-alt">  Edit</i>
        <% end %>
      </div>
    </div>
  </td>
</tr>
