<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <h1 class="title">My Profile</h1>
        <ul id="user-profile" class="list-group">
          <li class="list-group-item">First Name: <b><%= @user.first_name %></b></li>
          <li class="list-group-item">Last Name: <b><%= @user.last_name %></b></li>
          <li class="list-group-item">Role: <b><%= @user.role %></b></li>
          <li class="list-group-item">Email: <b><%= @user.email %></b></li>
        </ul>
      </div>
    </div>
  </header>
</section>

<%= link_to 'Edit User', edit_user_path(@user) %>
