<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Forgot Your Password</div>
                    <div class="card-body">
                        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                        <%= devise_error_messages! %>
                            <div class="form-group row">
                                 <%= f.label :email, class: 'col-md-4 col-form-label text-md-right' %>
                                <div class="col-md-6">
                                   <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4" style='padding-left: 24px;'>
                                <%= f.submit 'Submit', class: 'btn btn-primary btn-block', style: 'width: 100%;' %>
                            </div>

                            <%= render 'devise/shared/links' %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
