<h1>Tickets</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Lead Developer</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <th scope="row"><%= link_to ticket.id, ticket_path(ticket.id) %></th>
          <td><%= ticket.title %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.category %></td>
          <td><%= ticket.priority %></td>
          <td><%= ticket.lead_developer.first_name %></td>
          <td><%= ticket.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
