<h1 class="title">Ticket #<%= @ticket.id %></h1>

<small class="add-edit-record">
  <%=link_to edit_ticket_path(@ticket) do %>
    <i class="far fa-edit fa-2x"></i>
  <% end %>
</small>

<div id="ticket-and-comments">
  <div id="ticket-info-section" >
    <table class="table">
        <thead>
          <th>Title</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Category</th>
          <th>Project</th>
        <thead>
        <tbody>
          </tr>
            <td><%= @ticket.title %></td>
            <td><%= @ticket.priority %></td>
            <td><%= @ticket.status %></td>
            <td><%= @ticket.category %></td>
            <td><%= link_to @ticket.project.title, project_path(@ticket.project) %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div><strong>Description:</strong></div>
      <p id="ticket-description"><%= @ticket.description %></p>

    <div id="assigned-developers">
      <h3 class="title">Assigned Developers</h3>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
        <thead>
        <tbody>
          <%= render partial: 'developer', collection: @ticket.developers, as: :developer %>
        </tbody>
      </table>
    </div>

    <div id="ticket-details">
      <h3 class="title">Ticket Details</h3>
      <table class="table">
        <thead>
          <th>Submitter</th>
          <th>Last update</th>
          <th>Created on</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @ticket.lead_developer.email %></td>
            <td><%= @ticket.updated_at.to_s(:short) %></td>
            <td><%= @ticket.created_at.to_s(:short) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="row d-flex justify-content-center comments-section">
    <div class="comments-section">
      <div class="card shadow-0 border" style="background-color: #f0f2f5;">
        <div class="card-body p-4">
          <div class="form-outline mb-4">
            <label class="form-label" for="addANote">+ Add a note</label>
            <%= render partial: 'comments/form', locals: { url: ticket_comments_path(@ticket) } %>
          </div>
          <%= turbo_stream_from 'comments' %>
          <%= turbo_frame_tag 'comments' do %>
            <!-- Renders the partial views/comment/_comment.html.erb -->
            <%= render partial: 'comments/comment', collection: @ticket_comments, locals: { comment: @comment, user: @user } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
