<% present(@project, current_user) do |project_presenter| %>
  <main class="project-form">
      <div class="cotainer">
          <div class="row justify-content-center">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">Create New Project</div>
                      <div class="card-body">
                          <%= simple_form_for @project,
                          defaults: {
                                      input_html: { class: 'form-control'},
                                      label_html: { class: 'col-md-4 col-form-label text-md-right'}
                                    },
                          url: url do |f| %>
                              <div class="form-group row">
                                <%= f.input :title, label: 'Enter project title: ' %>
                              </div>
                              <div class="form-group row">
                                <%= f.input :description, label: 'Enter project description: ' %>
                              </div>
                              <div class="form-group row">
                                <%=
                                    f.association :lead_developer,
                                    collection: @lead_developers,
                                    label_method: :email,
                                    value_method: :id,
                                    prompt: 'Please Select Lead Developer',
                                    label: false
                                %>
                              </div>
                              <div class="form-group row">
                                <%= project_presenter.admin_select_tag %>
                              </div>
                                <%= project_presenter.project_manager_hidden_fields %>
                              <div class="col-md-6 offset-md-4" style='padding-left: 24px;'>
                                  <%= f.submit 'Create', class: 'btn btn-primary btn-block', style: 'width: 100%;' %>
                              </div>
                      </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>
      </div>

  </main>
<% end %>
