</tr>
  <td><%= ticket.id %></td>
  <td><%= ticket.title %></td>
  <td><%= ticket.status %></td>
  <td><%= ticket.priority %></td>
  <td><%= ticket.created_at.to_s(:short) %></td>
  <td><%= ticket.updated_at.to_s(:short) %></td>
  <td><%= link_to "See details", ticket_path(ticket)  %></td>
</tr>
