<!-- Start the page with calling present method that allowing calling method that
are defined in '/app/presenters/project_presenter' -->
<% present(@project, current_user) do |project_presenter| %>
  <h1 class="title">Projects</h1>

  <%= project_presenter.add_new_project %>


  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <%= project_presenter.table_headers %>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %> </td>
            <%= project_presenter.table_data(project) %>

          <td>
              <%= link_to project_path(project) do %>
                <i class="far fa-eye"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
