<!-- Start the page with calling present method that allowing calling method that
are defined in '/app/presenters/project_presenter' -->
<% present(@project, current_user) do |project_presenter| %>
  <h1 class="title">Project #<%=@project.id%> details</h1>
  <small class="add-edit-record"><%= link_to 'Edit Project', edit_project_path(@project) %></small>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="fw-bold">Title:</div>
      <%= @project.title %>
    </li>
      <li class="list-group-item">
      <div class="fw-bold">Description:</div>
      <%= @project.description %>
    </li>
  </ul>

  <div class="data-container">
    <div id="personell-in-charge">
      <h3 class="title">Personnel in charge </h3>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
        <thead>
        <tbody>
          <tr>
            <td><%= @project.project_manager.first_name %></td>
            <td><%= @project.project_manager.last_name %></td>
            <td><%= @project.project_manager.email %></td>
            <td><%= @project.project_manager.role.name %></td>
          </tr>
          <tr>
            <td><%= @project.lead_developer.first_name %></td>
            <td><%= @project.lead_developer.last_name %></td>
            <td><%= @project.lead_developer.email %></td>
            <td><%= @project.lead_developer.role.name %></td>
          </tr>
          <%= render partial: 'project_developers', collection: @project.developers.uniq, as: :developer %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="data-container">
      <div id="tickets">
        <h3 class="title">Tickets</h3>
        <table class="table table-striped">
          <thead>
            <th>Id.</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>

            <th>Last update</th>
          <thead>
          <tbody>
            <%= render partial: 'project_ticket', collection: @project.tickets, as: :ticket %>
          </tbody>
        </table>
         <small class="add-edit-record"><%= link_to 'Create Ticket', new_project_ticket_path(@project) %></small>
      </div>


      <div id="ticket-assignments">
        <h3 class="title">Ticket Assignments</h3>
        <table class="table table-striped">
          <thead>
            <th>Id.</th>
            <th>Title</th>
            <th>Assigned Developer</th>
            <th>Created on</th>
            <th>
          <thead>
          <tbody>
            <%= render partial: 'assignment', collection: @project.ticket_assignments, as: :assignment %>
          </tbody>
        </table>
      </div>
      <%= project_presenter.developer_tickets %>
  </div>
<% end %>
