<% present(@project, current_user) do |project_presenter| %>
  <h1 class="title">Project #<%=@project.id%> details</h1>
  <small class="add-edit-record"><%= link_to 'Edit Project', edit_project_path(@project) %></small>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="fw-bold">Title:</div>
      <%= @project.title %>
    </li>
      <li class="list-group-item">
      <div class="fw-bold">Description:</div>
      <%= @project.description %>
    </li>
  </ul>

  <div id="personell-in-charge">
    <h3 class="title">Personnel in charge </h3>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Role</th>
      <thead>
      <tbody>
        <tr>
          <td><%= @project.project_manager.first_name %></td>
          <td><%= @project.project_manager.last_name %></td>
          <td><%= @project.project_manager.email %></td>
          <td><%= @project.project_manager.role.name %></td>
        </tr>
        <tr>
          <td><%= @project.lead_developer.first_name %></td>
          <td><%= @project.lead_developer.last_name %></td>
          <td><%= @project.lead_developer.email %></td>
          <td><%= @project.lead_developer.role.name %></td>
        </tr>
        <%= render partial: 'project_developers', collection: @project.developers.uniq, as: :developer %>
      </tbody>
    </table>
  </div>

  <div class="data-container">
      <div id="tickets">
        <h3 class="title">Tickets</h3>
        <table class="table table-striped">
          <thead>
            <th>Id.</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>

            <th>Last update</th>
          <thead>
          <tbody>
            <% @project.tickets.each do |ticket|%>
            </tr>
              <td><%= ticket.id %></td>
              <td><%= ticket.title %></td>
              <td><%= ticket.status %></td>
              <td><%= ticket.priority %></td>

              <td><%= ticket.updated_at.localtime %></td>
              <td><%= link_to "See details", ticket_path(ticket)  %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>


      <div id="ticket-assignments">
        <h3 class="title">Ticket Assignments</h3>
        <table class="table table-striped">
          <thead>
            <th>Id.</th>
            <th>Title</th>
            <th>Assigned Developer</th>
            <th>Created on</th>
            <th>
          <thead>
          <tbody>
            <%= render partial: 'assignment', collection: @project.ticket_assignments, as: :assignment %>
          </tbody>
        </table>
      </div>
    <% if current_user.role == "Developer" %>
      <div id="my-tickets">
        <h3 class="title">My tickets</h3>
        <table class="table table-striped">
          <thead>
            <th>Id.</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Created on</th>
            <th>Last update</th>
          <thead>
          <tbody>
            <!-- will render the partial _ticket.html.erb in projects folder -->
            <%= render partial: 'ticket', collection: @developer_tickets, as: :ticket %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
