<%= @project.title %>

<ul>
  <% @project_tickets.each do |ticket| %>
    <li><%= ticket.title %></li>
  <% end %>
</ul>

<% @project_developers.each do |dev| %>
  <%= dev.first_name %>
<% end %>

<%= link_to 'Create New Ticket', new_project_ticket_path(@project) %>
<%= link_to 'Edit Project', edit_project_path(@project) %>
