<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= turbo_include_tags %>
    <%= csp_meta_tag %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <div id="welcome" class="d-flex justify-content-between">
        <% if current_user %>
        <p>
          Welcome: <b><%="#{current_user.first_name}"%></b> | Logged in as: <b><%="#{current_user.role}"%></b>
        </p>
        <a id="contact-me-logged" href="mailto:demado@zohomail.com"><small><b>Contact the Developer</b></small></a>
        <%else%>
          <a id="contact-me-not-logged" href="mailto:demado@zohomail.com"><small><b>Contact the Developer</b></small></a>
        <%end%>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
